.docker
deploy/
nginx/dev/docs/
nginx/prod/docs/
venv/
__pycache__/
node_modules/
env/
*.egg-info
*.zip
settings.py
conf
.DS_Store
*_template.md
test.py
typesense
app/server/data
sandbox
echo-1/api/cache/
conjure.html
server/api/cache
docker
.env