{% extends "main.html" %}

<!-- Render hero under tabs -->
{% block tabs %}
  {{ super() }}

  <!-- Additional styles for landing page -->
<style>

/* Apply box shadow on smaller screens that don't display tabs */
@media only screen and (max-width: 1220px) {
  .md-header {
    box-shadow: 0 0 .2rem rgba(0,0,0,.1),0 .2rem .4rem rgba(0,0,0,.2);
    transition: color 250ms,background-color 250ms,box-shadow 250ms;
  }
}

/* Hide main content for now */
.md-content {
  display: none;
}

/* Hide table of contents */
@media screen and (min-width: 60em) {
  .md-sidebar--secondary {
    display: none;
  }
}

/* Hide navigation */
@media screen and (min-width: 76.25em) {
  .md-sidebar--primary {
    display: none;
  }
}

/* Get started button */
.md-typeset .md-button--primary:hover {
    color: var(--md-primary-fg-color--light);
    background-color: var(--md-primary-bg-color);
    border-color: var(--md-primary-bg-color);
}
.md-typeset .md-button--primary {
  color: var(--md-primary-fg-color--light);
  background-color: var(--md-primary-fg-color);
  border-color: var(--md-primary-bg-color);
}

.tx-hero {
  max-width: 700px;
  display: flex;
  padding: .4rem;
  margin: 0 auto;
  text-align: center;
}
.tx-hero h1 {
  font-weight: 700;
  font-size: 38px;
  line-height: 46px;
  color: var(--md-primary-fg-color--light);
}
.tx-hero p {
  color: var(--md-primary-fg-color--light);
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
}
.tx-hero__image {
  max-width: 1000px;
  min-width: 600px;
  width: 100%;
  height: auto;
  margin: 0 auto;
  display: flex;
  align-items: stretch;
}

.tx-hero__image img {
  width: 100%;
  height: 100%;
  min-width: 0;
}




.image-wrapper img {
  width: 100%;
  height: 100%;
  min-width: 0;
}


.component-wrapper span.em {
  color: rgb(61, 61, 61);
}

.component-wrapper a {
  transition: color 125ms;
  color: rgb(61, 61, 61);
  background: rgba(0, 0, 0, 0.05) none repeat scroll 0% 0%;
  padding: 2px 6px;
  margin: 0px 1px;
  border-radius: 4px;
  display: inline;
  cursor: pointer;
  font-weight: 600;
}

.component-wrapper a:hover {
  color: var(--md-typeset-a-color);
  background: var(--md-accent-fg-color--transparent);
}

div.md-source__repository > ul.md-source__facts{
  display: none !important;
}

</style>

  <!-- Hero for landing page -->
  <div class="md-container tx-hero">
    <div class="md-grid md-typeset">
      <div class="md-main__inner">
        <div>
            <p align="center">
                <img style="width:300px" src="assets/logo.svg" alt="GAIA"/>
            </p>
          <h1 class="md-typeset">GAIA</h1>
          <p>Oversee your terraforming</p>
          <a
            href="overview"
            title="Get Started"
            class="md-button md-button--primary"
          >
            Get started 
            <svg width="11" height="10" viewBox="0 0 11 10" fill="none" style="margin-left:2px"><path d="M1 5.16772H9.5M9.5 5.16772L6.5 1.66772M9.5 5.16772L6.5 8.66772" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path></svg>
          </a>
        </div>
      </div>
    </div>
  </div>


{% endblock %}

<!-- Content -->
{% block content %}{% endblock %}

<!-- Application footer -->
{% block footer %}

{% endblock %}